
//------------------------------------------------------------------------
@charset "utf-8";
.loadingAnim{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    &:before,
    &:after{
      line-height: 1;
      position: fixed;
      z-index: 99;
      right: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 50%;
      margin-right: auto;
      margin-left: auto;
      content: ' ';
      transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
      transition-delay: .3s;
      background-color: #e72e0d;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
}

.loaded{
  .loadingAnim {
    &:before{
        height: 0;
        transform: translateY(-1%);
    }
    &:after{
        height: 0;;
        transform: translateY(1%);
    }
  }
}

.loadingAnim_line{
    line-height: 1;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 400px;
    height: 50px;
    margin: auto;
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
    transition-delay: .6s;
    text-align: center;
    &:after{
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 0;
        height: 100%;
        margin: auto  auto auto 0;
        content: ' ';
        animation: loadingAnim 2s ease-in-out .1s infinite normal backwards;
        background-color: #fff;
        will-change: transform, width;
    }
    &:before{
        font-family: 'Poppins', sans-serif;
        font-size: rem(30);
        font-weight: bold;
        font-style: normal;
        line-height: 1;
        display: block;
        content: 'ANIMOPRODUCE';
        animation: loadingAnim_text 1.5s ease .15s infinite alternate both;
        // letter-spacing: .5em;
        color: #fff;
        will-change: opacity;
    }
  }

.loaded {
  .loadingAnim_line{
    overflow: hidden;
    height: 0;
    &:after, &:before{
      animation: none;
    }
    // &:before {
    //   content: 'LOADED!';
    // }
  }
}

.top_main {
  padding: 0 0 60px;
  p {
    color: #000;
  }
  a {
    text-decoration: none;
    transition: .3s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .work {
    padding: 60px 0 80px;
    .work_txt {
      text-align: center;
      margin-top: 8px;
      h4 {
        color: #000;
        font-size: rem(24);
        line-height: rem(40);
        margin-bottom: 10px;
      }
      p {
        font-size: rem(15);
      }
    }
  }
  // .anim_sliding {
  //   position: relative;
  //   display: block;
  //   overflow: hidden;
  //   opacity: 0;
  //   transition: all .8s cubic-bezier(1,0,0,1);
  //   &:before {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //     width: 100%;
  //     height: 100%;
  //     transition: all 0.5s cubic-bezier(1, 0, 0,1);
  //     background: #e72e0d;
  //     transition-delay: .2s;
  //   }
  //   &.is_act {
  //     opacity: 1;
  //   }
  // }
  .topic {
    padding: 80px 0 !important;
    background: url('../images/topic_bg.png')no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    ul {
      margin-bottom: 50px;
      li {
        width: calc(100% /3);
        margin: 0 23px;
      }
    }
    .topic_txt {
      background: #fff;
      padding: 23px 15px;
      margin-top: -4px;
      time {
        font-size: rem(14);
        line-height: rem(22);
        color: #000;
      }
      .txt_bold {
        font-weight: bold;
        line-height: rem(15);
        line-height: rem(26);
        margin-bottom: 6px;
      }
      p {
        font-size: 14px;
        line-height: rem(22px);
      }
    }
  }
  .artists {
    padding: 70px 0 100px;
    ul {
      margin: 74px 0 77px;
      li {
        width: calc(100% / 5);
        margin: 0 23px;
         p {
           margin-top: 15px;
           font-size: rem(16);
           text-align: center;
         }
      }
    }
  }
}
