//
// header
//------------------------------------------------------------------------
@charset "utf-8";
.header {
  &_top {
    background: #fff;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border: 0 solid transparent;
      border-right-width: 77px;
      border-left-width: 0px;
      border-bottom: 43.7vw solid #fff;
      left: 25%;
      top: 0;
      z-index: 3;
    }
    .logo {
      position: absolute;
      left: 70px;
      bottom: 100px;
      a {
        font-size: 0;
        width: 215px;
        display: block;
      }
    }
    .mv {
      position: relative;
      width: 75%;
      margin-left: auto;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        position: absolute;
        background: url('../images/arrow_red.png') no-repeat;
        width: 161px;
        height: 401px;
        background-size: contain;
        left: -33px;
        top: 0;
        z-index: 2;
      }
      h2 {
        position: absolute;
        bottom: 94px;
        left: 150px;
        width: 335px;
      }
    }
  }
  &_sub {
    &:before {
      border-right-width: 41px;
      border-bottom: 25.5vw solid #fff;
    }
  }
}

.nav {
  background: #000;
  position: relative;
  z-index: 4;
  a {
    display: block;
    font-size: rem(16);
    text-align: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: .3s;
    color: #fff;
  }
  ul {
    li {
      a {
        color: #fff;
        padding: 30px 40px;
      }
      &:hover {
        a {
          background: #e72e0d;
        }
      }
    }
  }
  .onlineshop {
    background: #0098af;
    position: relative;
    padding: 30px 70px;
    &:after {
      content: "";
      position: absolute;
      background: url('../images/key.png')no-repeat;
      width: 21px;
      height: 29px;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      background-size: contain;
    }
  }
}
.menu_sub {
  margin-top: -6px;
}
